# Flights EDA

In [7]:
import pandas as pd
import numpy as np
from scipy import stats

In [8]:
flights_df_testing = pd.read_csv('data/flights_df.csv') # A copy of the original SQL pull is done so that I don't have to requery the db if I shit up

In [9]:
# settings to display all columns
pd.set_option("display.max_columns", None)

In [10]:
flights_df_testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638649 entries, 0 to 638648
Data columns (total 42 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   fl_date              638649 non-null  object
 1   mkt_unique_carrier   638649 non-null  object
 2   branded_code_share   638649 non-null  object
 3   mkt_carrier          638649 non-null  object
 4   mkt_carrier_fl_num   638649 non-null  int64
 5   op_unique_carrier    638649 non-null  object
 6   tail_num             633964 non-null  object
 7   op_carrier_fl_num    638649 non-null  int64
 8   origin_airport_id    638649 non-null  int64
 9   origin               638649 non-null  object
 10  origin_city_name     638649 non-null  object
 11  dest_airport_id      638649 non-null  int64
 12  dest                 638649 non-null  object
 13  dest_city_name       638649 non-null  object
 14  crs_dep_time         638649 non-null  int64
 15  dep_time             619550 non-null  float64
 16  dep_delay            619547 non-null  float64
 17  taxi_out             619253 non-null  float64
 18  wheels_off           619253 non-null  float64
 19  wheels_on            618710 non-null  float64
 20  taxi_in              618710 non-null  float64
 21  crs_arr_time         638649 non-null  int64
 22  arr_time             618710 non-null  float64
 23  arr_delay            617649 non-null  float64
 24  cancelled            638649 non-null  float64
 25  cancellation_code    19550 non-null   object
 26  diverted             638649 non-null  float64
 27  dup                  638649 non-null  object
 28  crs_elapsed_time     638641 non-null  float64
 29  actual_elapsed_time  617649 non-null  float64
 30  air_time             617649 non-null  float64
 31  flights              638649 non-null  float64
 32  distance             638649 non-null  float64
 33  carrier_delay        117144 non-null  float64
 34  weather_delay        117144 non-null  float64
 35  nas_delay            117144 non-null  float64
 36  security_delay       117144 non-null  float64
 37  late_aircraft_delay  117144 non-null  float64
 38  first_dep_time       4383 non-null    float64
 39  total_add_gtime      4382 non-null    float64
 40  longest_add_gtime    4383 non-null    float64
 41  no_name              0 non-null       float64
dtypes: float64(24), int64(6), object(12)
memory usage: 204.6+ MB

In [11]:
flights_df_testing.shape

(638649, 42)

#### Checking for null values and deleting the instances where there is missing values for the target variable

In [12]:
flights_df_testing.isnull().sum()

fl_date                     0
mkt_unique_carrier          0
branded_code_share          0
mkt_carrier                 0
mkt_carrier_fl_num          0
op_unique_carrier           0
tail_num                 4685
op_carrier_fl_num           0
origin_airport_id           0
origin                      0
origin_city_name            0
dest_airport_id             0
dest                        0
dest_city_name              0
crs_dep_time                0
dep_time                19099
dep_delay               19102
taxi_out                19396
wheels_off              19396
wheels_on               19939
taxi_in                 19939
crs_arr_time                0
arr_time                19939
arr_delay               21000
cancelled                   0
cancellation_code      619099
diverted                    0
dup                         0
crs_elapsed_time            8
actual_elapsed_time     21000
air_time                21000
flights                     0
distance                    0
carrier_delay          521505
weather_delay          521505
nas_delay              521505
security_delay         521505
late_aircraft_delay    521505
first_dep_time         634266
total_add_gtime        634267
longest_add_gtime      634266
no_name                638649
dtype: int64

In [13]:
# Dropping the null values from the target variable
flights_df_testing.dropna(axis=0, how='any', subset=['arr_delay'], inplace=True)

In [14]:
flights_df_testing.isnull().sum()

fl_date                     0
mkt_unique_carrier          0
branded_code_share          0
mkt_carrier                 0
mkt_carrier_fl_num          0
op_unique_carrier           0
tail_num                    0
op_carrier_fl_num           0
origin_airport_id           0
origin                      0
origin_city_name            0
dest_airport_id             0
dest                        0
dest_city_name              0
crs_dep_time                0
dep_time                    0
dep_delay                   0
taxi_out                    0
wheels_off                  0
wheels_on                   0
taxi_in                     0
crs_arr_time                0
arr_time                    0
arr_delay                   0
cancelled                   0
cancellation_code      617649
diverted                    0
dup                         0
crs_elapsed_time            0
actual_elapsed_time         0
air_time                    0
flights                     0
distance                    0
carrier_delay          500505
weather_delay          500505
nas_delay              500505
security_delay         500505
late_aircraft_delay    500505
first_dep_time         613601
total_add_gtime        613602
longest_add_gtime      613601
no_name                617649
dtype: int64

In [15]:
flights_df_testing['op_unique_carrier'].value_counts()
# pd.DataFrame(flights_df_testing['op_unique_carrier'].unique()).value_counts()

WN    107235
AA     75354
DL     73403
OO     61967
UA     46126
YX     24591
MQ     23713
B6     23395
OH     22370
AS     20204
9E     19835
YV     17829
NK     15009
EV     12202
QX      9793
F9      9490
PT      8661
CP      8082
ZW      7621
G7      6824
HA      6785
G4      6694
AX      5720
C5      3858
EM       720
KS       168
Name: op_unique_carrier, dtype: int64

In [16]:
flights_df_testing.head(3)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-01-20,DL,DL,DL,959,DL,N992DL,959,10397,ATL,"Atlanta, GA",14122,PIT,"Pittsburgh, PA",855,849.0,-6.0,15.0,904.0,1019.0,6.0,1032,1025.0,-7.0,0.0,NaN,0.0,N,97.0,96.0,75.0,1.0,526.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-20,DL,DL,DL,960,DL,N900PC,960,14635,RSW,"Fort Myers, FL",10397,ATL,"Atlanta, GA",1700,1657.0,-3.0,12.0,1709.0,1835.0,5.0,1849,1840.0,-9.0,0.0,NaN,0.0,N,109.0,103.0,86.0,1.0,515.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-20,DL,DL,DL,963,DL,N945DN,963,13487,MSP,"Minneapolis, MN",13871,OMA,"Omaha, NE",1050,1104.0,14.0,11.0,1115.0,1202.0,9.0,1210,1211.0,1.0,0.0,NaN,0.0,N,80.0,67.0,47.0,1.0,282.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Converting features into applicable types

In [17]:
flights_df_testing['mkt_carrier_fl_num'] = flights_df_testing['mkt_carrier_fl_num'].astype('category')
flights_df_testing['op_carrier_fl_num'] = flights_df_testing['op_carrier_fl_num'].astype('category')
flights_df_testing['origin_airport_id'] = flights_df_testing['origin_airport_id'].astype('category')
flights_df_testing['dest_airport_id'] = flights_df_testing['dest_airport_id'].astype('category')

# convert date_time column to datetime type
flights_df_testing['fl_date'] = pd.to_datetime(flights_df_testing['fl_date'])

In [18]:
flights_df_testing.head(3)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-01-20,DL,DL,DL,959,DL,N992DL,959,10397,ATL,"Atlanta, GA",14122,PIT,"Pittsburgh, PA",855,849.0,-6.0,15.0,904.0,1019.0,6.0,1032,1025.0,-7.0,0.0,NaN,0.0,N,97.0,96.0,75.0,1.0,526.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-20,DL,DL,DL,960,DL,N900PC,960,14635,RSW,"Fort Myers, FL",10397,ATL,"Atlanta, GA",1700,1657.0,-3.0,12.0,1709.0,1835.0,5.0,1849,1840.0,-9.0,0.0,NaN,0.0,N,109.0,103.0,86.0,1.0,515.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-20,DL,DL,DL,963,DL,N945DN,963,13487,MSP,"Minneapolis, MN",13871,OMA,"Omaha, NE",1050,1104.0,14.0,11.0,1115.0,1202.0,9.0,1210,1211.0,1.0,0.0,NaN,0.0,N,80.0,67.0,47.0,1.0,282.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
flights_df_testing.dtypes

fl_date                datetime64[ns]
mkt_unique_carrier             object
branded_code_share             object
mkt_carrier                    object
mkt_carrier_fl_num           category
op_unique_carrier              object
tail_num                       object
op_carrier_fl_num            category
origin_airport_id            category
origin                         object
origin_city_name               object
dest_airport_id              category
dest                           object
dest_city_name                 object
crs_dep_time                    int64
dep_time                      float64
dep_delay                     float64
taxi_out                      float64
wheels_off                    float64
wheels_on                     float64
taxi_in                       float64
crs_arr_time                    int64
arr_time                      float64
arr_delay                     float64
cancelled                     float64
cancellation_code              object
diverted                      float64
dup                            object
crs_elapsed_time              float64
actual_elapsed_time           float64
air_time                      float64
flights                       float64
distance                      float64
carrier_delay                 float64
weather_delay                 float64
nas_delay                     float64
security_delay                float64
late_aircraft_delay           float64
first_dep_time                float64
total_add_gtime               float64
longest_add_gtime             float64
no_name                       float64
dtype: object

In [20]:
# Create a Unique Column to serve as a key when joining to the .groupby() Passengers table
# Key = 'op_unique_carrier' + 'origin_airport_id' + 'dest_airport_id'
flights_df_testing['Carrier_Origin_Dest_Airport'] = flights_df_testing['op_unique_carrier'].astype('str') + flights_df_testing['origin_airport_id'].astype('str') + flights_df_testing['dest_airport_id'].astype('str')

In [21]:
flights_df_testing.head(3)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,Carrier_Origin_Dest_Airport
0,2019-01-20,DL,DL,DL,959,DL,N992DL,959,10397,ATL,"Atlanta, GA",14122,PIT,"Pittsburgh, PA",855,849.0,-6.0,15.0,904.0,1019.0,6.0,1032,1025.0,-7.0,0.0,NaN,0.0,N,97.0,96.0,75.0,1.0,526.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL1039714122
1,2019-01-20,DL,DL,DL,960,DL,N900PC,960,14635,RSW,"Fort Myers, FL",10397,ATL,"Atlanta, GA",1700,1657.0,-3.0,12.0,1709.0,1835.0,5.0,1849,1840.0,-9.0,0.0,NaN,0.0,N,109.0,103.0,86.0,1.0,515.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL1463510397
2,2019-01-20,DL,DL,DL,963,DL,N945DN,963,13487,MSP,"Minneapolis, MN",13871,OMA,"Omaha, NE",1050,1104.0,14.0,11.0,1115.0,1202.0,9.0,1210,1211.0,1.0,0.0,NaN,0.0,N,80.0,67.0,47.0,1.0,282.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL1348713871

In [22]:
flights_df_testing['Carrier_Origin_Dest_Airport'][0]

'DL1039714122'

### Feature Engineering Notes

# Passengers EDA

In [24]:
passengers_df_testing = pd.read_csv('data/passengers_df.csv')

In [25]:
passengers_df_testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40479 entries, 0 to 40478
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   departures_scheduled   40479 non-null  float64
 1   departures_performed   40479 non-null  float64
 2   payload                40479 non-null  float64
 3   seats                  40479 non-null  float64
 4   passengers             40479 non-null  float64
 5   freight                40479 non-null  float64
 6   mail                   40479 non-null  float64
 7   distance               40479 non-null  float64
 8   ramp_to_ramp           40479 non-null  float64
 9   air_time               40479 non-null  float64
 10  unique_carrier         40479 non-null  object
 11  airline_id             40479 non-null  int64
 12  unique_carrier_name    40479 non-null  object
 13  region                 40479 non-null  object
 14  carrier                40479 non-null  object
 15  carrier_name           40479 non-null  object
 16  carrier_group          40479 non-null  int64
 17  carrier_group_new      40479 non-null  int64
 18  origin_airport_id      40479 non-null  int64
 19  origin_city_market_id  40479 non-null  int64
 20  origin                 40479 non-null  object
 21  origin_city_name       40479 non-null  object
 22  origin_country         40479 non-null  object
 23  origin_country_name    40479 non-null  object
 24  dest_airport_id        40479 non-null  int64
 25  dest_city_market_id    40479 non-null  int64
 26  dest                   40479 non-null  object
 27  dest_city_name         40479 non-null  object
 28  dest_country           40479 non-null  object
 29  dest_country_name      40479 non-null  object
 30  aircraft_group         40479 non-null  int64
 31  aircraft_type          40479 non-null  int64
 32  aircraft_config        40479 non-null  int64
 33  year                   40479 non-null  int64
 34  month                  40479 non-null  int64
 35  distance_group         40479 non-null  int64
 36  class                  40479 non-null  object
 37  data_source            40479 non-null  object
dtypes: float64(10), int64(13), object(15)
memory usage: 11.7+ MB

In [26]:
passengers_df_testing.isnull().sum()

departures_scheduled     0
departures_performed     0
payload                  0
seats                    0
passengers               0
freight                  0
mail                     0
distance                 0
ramp_to_ramp             0
air_time                 0
unique_carrier           0
airline_id               0
unique_carrier_name      0
region                   0
carrier                  0
carrier_name             0
carrier_group            0
carrier_group_new        0
origin_airport_id        0
origin_city_market_id    0
origin                   0
origin_city_name         0
origin_country           0
origin_country_name      0
dest_airport_id          0
dest_city_market_id      0
dest                     0
dest_city_name           0
dest_country             0
dest_country_name        0
aircraft_group           0
aircraft_type            0
aircraft_config          0
year                     0
month                    0
distance_group           0
class                    0
data_source              0
dtype: int64

In [27]:
# Create a Unique Column to serve as a key when grouping by so that the resultant grouped data can be merged onto the flights data table
# Key = 'mkt_unique_carrier' + 'origin_airport_id' + 'dest_airport_id'
passengers_df_testing['Carrier_Origin_Dest_Airport'] = passengers_df_testing['unique_carrier'].astype('str') + passengers_df_testing['origin_airport_id'].astype('str') + passengers_df_testing['dest_airport_id'].astype('str')

In [28]:
len(passengers_df_testing['Carrier_Origin_Dest_Airport'].unique())

25231

In [29]:
passengers_df_testing.head(3)

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source,Carrier_Origin_Dest_Airport
0,0.0,4.0,124800.0,624.0,488.0,0.0,0.0,1396.0,942.0,768.0,G4,20368,Allegiant Air,D,G4,Allegiant Air,3,3,14122,30198,PIT,"Pittsburgh, PA",US,United States,11032,31032,CUN,"Cancun, Mexico",MX,Mexico,6,698,1,2019,1,3,L,IU,G41412211032
1,0.0,1.0,18800.0,70.0,0.0,0.0,0.0,83.0,43.0,18.0,G7,20500,GoJet Airlines LLC d/b/a United Express,D,G7,GoJet Airlines LLC d/b/a United Express,2,2,11057,31057,CLT,"Charlotte, NC",US,United States,11995,31995,GSO,"Greensboro/High Point, NC",US,United States,6,631,1,2019,1,1,F,DU,G71105711995
2,0.0,1.0,22750.0,76.0,17.0,0.0,0.0,308.0,75.0,55.0,G7,20500,GoJet Airlines LLC d/b/a United Express,D,G7,GoJet Airlines LLC d/b/a United Express,2,2,11193,33105,CVG,"Cincinnati, OH",US,United States,15016,31123,STL,"St. Louis, MO",US,United States,6,638,1,2019,1,1,F,DU,G71119315016

In [30]:
# grouping the passengers table by the unique key just created to get the sum of the seats and sum of the passengers per unique key
# this will be saved as a separate df which will be joined onto the flights df
# after which a new feature will be caluclated: Passengers/Seats to give the ratio of passengers to seats to see if this has an effect on the regression.

passengers_df_testing_grouped = passengers_df_testing.groupby('Carrier_Origin_Dest_Airport').agg({'seats': np.sum, 'passengers': np.sum })

In [31]:
passengers_df_testing_grouped.head()

                             seats  passengers
Carrier_Origin_Dest_Airport
04Q1015412197                 16.0         9.0
04Q1025713541                  8.0         1.0
04Q1031214843                  8.0         2.0
04Q1041410927                  8.0         2.0
04Q1044414843                144.0        97.0

In [32]:
passengers_df_testing_grouped.columns.values

array(['seats', 'passengers'], dtype=object)

In [33]:
len(passengers_df_testing_grouped.index)

25231

# Modeling Data

In [34]:
X = flights_df_testing.copy()
print(X.shape)

(617649, 43)

In [35]:
X = X.join(passengers_df_testing_grouped, on = 'Carrier_Origin_Dest_Airport', how = 'left')
print(X.shape)

(617649, 45)

## Feature Engineering

### Feature 1: Passengers_Seat_Ratio

This gives an indication of the demand for the flight

In [36]:
X['Passengers_Seat_Ratio'] =  X['passengers'] / X['seats']

In [37]:
X.head(3)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,Carrier_Origin_Dest_Airport,seats,passengers,Passengers_Seat_Ratio
0,2019-01-20,DL,DL,DL,959,DL,N992DL,959,10397,ATL,"Atlanta, GA",14122,PIT,"Pittsburgh, PA",855,849.0,-6.0,15.0,904.0,1019.0,6.0,1032,1025.0,-7.0,0.0,NaN,0.0,N,97.0,96.0,75.0,1.0,526.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL1039714122,34633.0,25214.0,0.728034
1,2019-01-20,DL,DL,DL,960,DL,N900PC,960,14635,RSW,"Fort Myers, FL",10397,ATL,"Atlanta, GA",1700,1657.0,-3.0,12.0,1709.0,1835.0,5.0,1849,1840.0,-9.0,0.0,NaN,0.0,N,109.0,103.0,86.0,1.0,515.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL1463510397,46596.0,39104.0,0.839214
2,2019-01-20,DL,DL,DL,963,DL,N945DN,963,13487,MSP,"Minneapolis, MN",13871,OMA,"Omaha, NE",1050,1104.0,14.0,11.0,1115.0,1202.0,9.0,1210,1211.0,1.0,0.0,NaN,0.0,N,80.0,67.0,47.0,1.0,282.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL1348713871,4395.0,2473.0,0.562685

In [38]:
X['seats'].isna().sum()

0

### Feature 2: mkt_op_carrier_difference

This gives an indication where a third party would have to service the route on behalf of the Marketed Carrier

In [39]:
X['mkt_op_carrier_difference'] = np.where(X["mkt_unique_carrier"] == X["op_unique_carrier"], True, False)

# X['mkt_op_carrier_difference'] = X['mkt_unique_carrier'].apply(lambda x: x ==  1)
print(X.shape)

(617649, 47)

In [40]:
X.sample(5)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,Carrier_Origin_Dest_Airport,seats,passengers,Passengers_Seat_Ratio,mkt_op_carrier_difference
476044,2019-01-11,DL,DL,DL,2642,DL,N963DN,2642,14027,PBI,"West Palm Beach/Palm Beach, FL",11433,DTW,"Detroit, MI",1229,1223.0,-6.0,12.0,1235.0,1508.0,4.0,1528,1512.0,-16.0,0.0,NaN,0.0,N,179.0,169.0,153.0,1.0,1086.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL1402711433,4896.0,4094.0,0.836193,True
243726,2019-01-31,UA,UA_CODESHARE,UA,4205,EV,N17984,4205,11540,ELP,"El Paso, TX",12266,IAH,"Houston, TX",1405,1433.0,28.0,12.0,1445.0,1720.0,16.0,1705,1736.0,31.0,0.0,NaN,0.0,N,120.0,123.0,95.0,1.0,667.0,1.0,0.0,3.0,0.0,27.0,NaN,NaN,NaN,NaN,EV1154012266,3050.0,2668.0,0.874754,False
458912,2019-01-11,UA,UA,UA,790,UA,N17233,790,13930,ORD,"Chicago, IL",10721,BOS,"Boston, MA",1805,1801.0,-4.0,19.0,1820.0,2101.0,4.0,2121,2105.0,-16.0,0.0,NaN,0.0,N,136.0,124.0,101.0,1.0,867.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA1393010721,26947.0,20420.0,0.757784,True
153554,2019-01-27,DL,DL_CODESHARE,DL,5376,9E,N8974C,5376,12953,LGA,"New York, NY",10990,CHO,"Charlottesville, VA",2055,2055.0,0.0,21.0,2116.0,2214.0,2.0,2231,2216.0,-15.0,0.0,NaN,0.0,N,96.0,81.0,58.0,1.0,305.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9E1295310990,2149.0,1144.0,0.532341,False
612706,2019-01-18,AA,AA_CODESHARE,AA,5344,OH,N569NN,5344,11996,GSP,"Greer, SC",11057,CLT,"Charlotte, NC",557,551.0,-6.0,36.0,627.0,652.0,10.0,700,702.0,2.0,0.0,NaN,0.0,N,63.0,71.0,25.0,1.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OH1199611057,19322.0,15013.0,0.776990,False

### Feature 3+4: Most common aircraft_group and class used 

The delay might depend on the type of aircraft i.e. the group it falls in, being flown and its class.
The aircraft type could have been used but are too many types within a group. Within group 7 there are 7 different types

https://stackoverflow.com/questions/15222754/groupby-pandas-dataframe-and-select-most-common-value

In [41]:
passengers_df_testing['aircraft_type'] = passengers_df_testing['aircraft_type'].astype('str')

In [42]:
type(passengers_df_testing['aircraft_type'][0])

str

In [43]:
passengers_df_testing['aircraft_group'] = passengers_df_testing['aircraft_group'].astype('str')

In [44]:
type(passengers_df_testing['aircraft_group'][0])

str

##### aircraft_group

In [45]:
passengers_df_testing_grouped2 = pd.DataFrame(passengers_df_testing.groupby(['Carrier_Origin_Dest_Airport'])['aircraft_group'].agg(pd.Series.mode))

In [46]:
passengers_df_testing_grouped2.sample(10)

                            aircraft_group
Carrier_Origin_Dest_Airport
G71119315016                             6
OO1289210140                             6
UA1501612266                             6
EV1294513930                             6
ZW1393010785                             6
WN1410713871                             6
YX1161815096                             6
SEB1484314849                            4
9V1330310658                        [6, 8]
8R1320416321                             6

##### class

In [47]:
passengers_df_testing_grouped3 = pd.DataFrame(passengers_df_testing.groupby(['Carrier_Origin_Dest_Airport'])['class'].agg(pd.Series.mode))

In [48]:
passengers_df_testing_grouped3.sample(10)

                            class
Carrier_Origin_Dest_Airport
27Q1535614843                   L
LF1219711697                    L
GV1055110551                    F
AX1393011111                    F
UA1161814681                    F
9E1220613487                    F
WN1105710397                    F
5X1410013891                    G
M61551313303                    G
YV1069312266                    F

In [49]:
X = X.join(passengers_df_testing_grouped2, on = 'Carrier_Origin_Dest_Airport', how = 'left')
print(X.shape)

(617649, 48)

In [50]:
X = X.join(passengers_df_testing_grouped3, on = 'Carrier_Origin_Dest_Airport', how = 'left')
print(X.shape)

(617649, 49)

In [51]:
X.sample(5)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,Carrier_Origin_Dest_Airport,seats,passengers,Passengers_Seat_Ratio,mkt_op_carrier_difference,aircraft_group,class
499000,2019-01-13,F9,F9,F9,1643,F9,N206FR,1643,14492,RDU,"Raleigh/Durham, NC",14027,PBI,"West Palm Beach/Palm Beach, FL",1709,1708.0,-1.0,13.0,1721.0,1852.0,9.0,1910,1901.0,-9.0,0.0,NaN,0.0,N,121.0,113.0,91.0,1.0,638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F91449214027,2556.0,1712.0,0.669797,True,6,F
149014,2019-01-27,AA,AA,AA,837,AA,N560UW,837,14027,PBI,"West Palm Beach/Palm Beach, FL",11057,CLT,"Charlotte, NC",818,814.0,-4.0,17.0,831.0,959.0,15.0,1020,1014.0,-6.0,0.0,NaN,0.0,N,122.0,120.0,88.0,1.0,590.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA1402711057,26057.0,23029.0,0.883793,True,6,F
556605,2019-01-16,WN,WN,WN,38,WN,N774SW,38,11259,DAL,"Dallas, TX",10279,AMA,"Amarillo, TX",1715,1710.0,-5.0,11.0,1721.0,1817.0,4.0,1835,1821.0,-14.0,0.0,NaN,0.0,N,80.0,71.0,56.0,1.0,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WN1125910279,16652.0,9445.0,0.567199,True,6,F
622694,2019-01-19,UA,UA_CODESHARE,UA,6286,YV,N88331,6286,14100,PHL,"Philadelphia, PA",12266,IAH,"Houston, TX",550,548.0,-2.0,27.0,615.0,849.0,9.0,854,858.0,4.0,0.0,NaN,0.0,N,244.0,250.0,214.0,1.0,1325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YV1410012266,4104.0,3444.0,0.839181,False,6,F
600861,2019-01-18,AA,AA,AA,1988,AA,N769US,1988,11057,CLT,"Charlotte, NC",14683,SAT,"San Antonio, TX",1610,1610.0,0.0,14.0,1624.0,1843.0,5.0,1821,1848.0,27.0,0.0,NaN,0.0,N,191.0,218.0,199.0,1.0,1095.0,0.0,0.0,27.0,0.0,0.0,NaN,NaN,NaN,NaN,AA1105714683,20835.0,16888.0,0.810559,True,6,F

In [55]:
X.isnull().sum()

fl_date                             0
mkt_unique_carrier                  0
branded_code_share                  0
mkt_carrier                         0
mkt_carrier_fl_num                  0
op_unique_carrier                   0
tail_num                            0
op_carrier_fl_num                   0
origin_airport_id                   0
origin                              0
origin_city_name                    0
dest_airport_id                     0
dest                                0
dest_city_name                      0
crs_dep_time                        0
dep_time                            0
dep_delay                           0
taxi_out                            0
wheels_off                          0
wheels_on                           0
taxi_in                             0
crs_arr_time                        0
arr_time                            0
arr_delay                           0
cancelled                           0
cancellation_code              617649
diverted                            0
dup                                 0
crs_elapsed_time                    0
actual_elapsed_time                 0
air_time                            0
flights                             0
distance                            0
carrier_delay                  500505
weather_delay                  500505
nas_delay                      500505
security_delay                 500505
late_aircraft_delay            500505
first_dep_time                 613601
total_add_gtime                613602
longest_add_gtime              613601
no_name                        617649
Carrier_Origin_Dest_Airport         0
seats                               0
passengers                          0
Passengers_Seat_Ratio               0
mkt_op_carrier_difference           0
aircraft_group                      0
class                               0
dtype: int64

### Feature 5:Taxi Holdup

This feature would give some insight into the wait times on the tarmac

In [56]:
X['Taxi_Holdup'] = X['taxi_out'] - X['taxi_in']

In [57]:
X.sample(5)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,Carrier_Origin_Dest_Airport,seats,passengers,Passengers_Seat_Ratio,mkt_op_carrier_difference,aircraft_group,class,Taxi_Holdup
114916,2019-01-25,DL,DL,DL,1886,DL,N3773D,1886,14747,SEA,"Seattle, WA",10299,ANC,"Anchorage, AK",950,945.0,-5.0,14.0,959.0,1218.0,5.0,1240,1223.0,-17.0,0.0,NaN,0.0,N,230.0,218.0,199.0,1.0,1448.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL1474710299,12046.0,9768.0,0.810892,True,6,F,9.0
177829,2019-01-28,WN,WN,WN,1146,WN,N560WN,1146,11259,DAL,"Dallas, TX",15016,STL,"St. Louis, MO",600,556.0,-4.0,12.0,608.0,724.0,5.0,740,729.0,-11.0,0.0,NaN,0.0,N,100.0,93.0,76.0,1.0,546.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WN1125915016,23851.0,16017.0,0.671544,True,6,F,7.0
493438,2019-01-13,WN,WN,WN,3779,WN,N7855A,3779,10397,ATL,"Atlanta, GA",11433,DTW,"Detroit, MI",1715,1728.0,13.0,11.0,1739.0,1906.0,6.0,1910,1912.0,2.0,0.0,NaN,0.0,N,115.0,104.0,87.0,1.0,594.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WN1039711433,9809.0,7572.0,0.771944,True,6,F,5.0
370434,2019-01-07,UA,UA,UA,2250,UA,N62896,2250,12264,IAD,"Washington, DC",11618,EWR,"Newark, NJ",820,820.0,0.0,17.0,837.0,918.0,5.0,946,923.0,-23.0,0.0,NaN,0.0,N,86.0,63.0,41.0,1.0,212.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA1226411618,11932.0,7769.0,0.651106,True,6,F,12.0
171761,2019-01-28,DL,DL_CODESHARE,DL,3344,9E,N294PQ,3344,12953,LGA,"New York, NY",14986,SRQ,"Sarasota/Bradenton, FL",1016,1007.0,-9.0,40.0,1047.0,1325.0,5.0,1342,1330.0,-12.0,0.0,NaN,0.0,N,206.0,203.0,158.0,1.0,1047.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9E1295314986,1671.0,1426.0,0.853381,False,6,F,35.0

In [58]:
#X.to_csv('X.csv')

### Date Time Features

In [59]:
# X.drop(columns=['fl_date_time'], inplace=True)

# Applying same process to the submission test data:

In [63]:
flights_test_df = pd.read_csv('data/flights_test_df.csv')

In [64]:
flights_test_df.head(3)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,2020-01-01,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363
2,2020-01-01,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333

In [65]:
flights_test_df['Carrier_Origin_Dest_Airport'] = flights_test_df['op_unique_carrier'].astype('str') + flights_test_df['origin_airport_id'].astype('str') + flights_test_df['dest_airport_id'].astype('str')

In [66]:
print(flights_test_df.shape)
flights_test_df = flights_test_df.join(passengers_df_testing_grouped, on = 'Carrier_Origin_Dest_Airport', how = 'left')
print(flights_test_df.shape)

(660556, 21)
(660556, 23)

In [67]:
flights_test_df['Passengers_Seat_Ratio'] =  flights_test_df['passengers'] / flights_test_df['seats']

In [68]:
flights_test_df['mkt_op_carrier_difference'] = np.where(flights_test_df["mkt_unique_carrier"] == flights_test_df["op_unique_carrier"], True, False)

In [69]:
flights_test_df = flights_test_df.join(passengers_df_testing_grouped2, on = 'Carrier_Origin_Dest_Airport', how = 'left')

In [70]:
flights_test_df = flights_test_df.join(passengers_df_testing_grouped3, on = 'Carrier_Origin_Dest_Airport', how = 'left')

In [71]:
#flights_test_df['Taxi_Holdup'] = flights_test_df['taxi_out'] - flights_test_df['taxi_in'] # no taxi info in submission set

In [72]:
# function for seperating into times of day

def daypart(x):
    if x >= 200 and x <= 559:
        return 'dawn'
    elif x >= 600 and x <= 959:
        return 'morning'
    elif x >=1000 and x <= 1359:
        return 'noon'
    elif x >= 1400 and x <= 1759:
        return 'afternoon'
    elif x >= 1800 and x <= 2259:
        return 'evening'
    else: return 'midnight'

In [73]:
flights_test_df['dep_day_part']=flights_test_df.crs_dep_time.apply(daypart)
flights_test_df['arr_day_part']=flights_test_df.crs_arr_time.apply(daypart)

In [76]:
# function for including the taxiholdup into the submission data set

def taxiholdup(x):
    if x == 'dawn':
        return 11.316433
    elif x == 'morning':
        return 13.633082
    elif x == 'noon':
        return 12.598257
    elif x == 'afternoon':
        return 11.245958
    elif x == 'evening':
        return 12.158385
    else: return 8.479839

In [77]:
flights_test_df['Taxi_Holdup'] = flights_test_df['dep_day_part'].apply(taxiholdup)

In [78]:
flights_test_df.to_csv('data/flights_test_df_mod.csv', index = False)

In [79]:
flights_test_df.sample(5)

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance,Carrier_Origin_Dest_Airport,seats,passengers,Passengers_Seat_Ratio,mkt_op_carrier_difference,aircraft_group,class,dep_day_part,arr_day_part,Taxi_Holdup
31760,2020-01-02,AA,AA,AA,2069,AA,N12028,2069,13303,MIA,"Miami, FL",13495,MSY,"New Orleans, LA",830,940,N,130,1,675,AA1330313495,13436.0,11634.0,0.865883,True,6,F,morning,morning,13.633082
404884,2020-01-20,AA,AA,AA,2301,AA,N971NN,2301,13851,OKC,"Oklahoma City, OK",11298,DFW,"Dallas/Fort Worth, TX",1031,1140,N,69,1,175,AA1385111298,24537.0,15306.0,0.623793,True,6,F,noon,noon,12.598257
133250,2020-01-07,UA,UA_CODESHARE,UA,6035,YV,N83329,6035,12266,IAH,"Houston, TX",13931,ORF,"Norfolk, VA",1155,1547,N,172,1,1201,YV1226613931,3800.0,3266.0,0.859474,False,6,F,noon,afternoon,12.598257
270368,2020-01-13,DL,DL,DL,1616,DL,N970DL,1616,14730,SDF,"Louisville, KY",10397,ATL,"Atlanta, GA",1559,1728,N,89,1,321,DL1473010397,33052.0,25782.0,0.780044,True,6,F,afternoon,afternoon,11.245958
402235,2020-01-19,UA,UA_CODESHARE,UA,3832,ZW,N433AW,3832,12945,LEX,"Lexington, KY",13930,ORD,"Chicago, IL",800,840,N,100,1,323,ZW1294513930,1000.0,761.0,0.761000,False,6,F,morning,morning,13.633082