In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('ftest_to_encode.csv', index_col=[0])
df = df.drop(['mkt_unique_carrier'],axis=1) #this feature was not used in XGBoost
df.reset_index(drop=True, inplace=True)
df

,fl_date,origin_city_name,dest_city_name,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,Passengers_Seat_Ratio,mkt_op_carrier_difference,Taxi_Holdup,Type_Mode
0,2020-01-01,"Ontario, CA","San Jose, CA",2020,2130,70,333,0.721639,True,12.158385,Fog
1,2020-01-01,"Ontario, CA","San Jose, CA",1340,1455,75,333,0.721639,True,12.598257,Fog
2,2020-01-01,"Ontario, CA","San Jose, CA",915,1035,80,333,0.721639,True,13.633082,Fog
3,2020-01-01,"Ontario, CA","San Jose, CA",600,715,75,333,0.721639,True,13.633082,Fog
4,2020-01-01,"Ontario, CA","San Jose, CA",1620,1740,80,333,0.721639,True,11.245958,Fog
...,...,...,...,...,...,...,...,...,...,...,...
244055,2020-01-30,"New York, NY","Richmond, VA",1642,1825,103,292,0.449462,False,11.245958,Rain
244056,2020-01-30,"Richmond, VA","New York, NY",1900,2033,93,292,0.382566,False,12.158385,Rain
244057,2020-01-30,"Cincinnati, OH","Washington, DC",1655,1824,89,411,0.633954,False,11.245958,Snow
244058,2020-01-30,"New York, NY","Burlington, VT",2205,2337,92,266,0.761005,False,12.158385,Rain
244059,2020-01-30,"New York, NY","Charlotte, NC",2005,2222,137,544,0.553893,False,12.158385,Rain

In [18]:
predicted_df = pd.read_csv('predicted_df.csv', index_col=[0])
predicted_df.reset_index(drop=True, inplace=True)
predicted_df

        predicted_delay
0             -3.247165
1             -6.271799
2             10.167065
3              9.698260
4             -5.604271
...                 ...
244055        75.217620
244056        43.647590
244057         4.482183
244058        51.418526
244059        73.489490

[244060 rows x 1 columns]

In [21]:
submission_df = pd.concat([df,predicted_df],axis=1)

In [23]:
submission_df.head(2)

,fl_date,origin_city_name,dest_city_name,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,Passengers_Seat_Ratio,mkt_op_carrier_difference,Taxi_Holdup,Type_Mode,predicted_delay
0,2020-01-01,"Ontario, CA","San Jose, CA",2020,2130,70,333,0.721639,True,12.158385,Fog,-3.247165
1,2020-01-01,"Ontario, CA","San Jose, CA",1340,1455,75,333,0.721639,True,12.598257,Fog,-6.271799

In [25]:
submission_df.to_csv('submission_csv.csv')